faiss_db:
  collection_name: "document_portal"

embedding_model:
  provider: "sentence_transformers"
  model_name: "sentence-transformers/all-MiniLM-L6-v2"  

retriever:
  top_k: 10

llm:
  groq:
    provider: "groq"
    model_name: "llama-3.1-8b-instant"
    temperature: 0
    max_output_tokens: 2048 

  google: 
    provider: "google"
    model_name: "gemini-2.0-flash"
    temperature: 0
    max_output_tokens: 2048


